@charset "utf-8"

@font-face
  font-family: nanum
  src: url('../fonts/NanumBrushScript-Regular.ttf') format('truetype')

html, body
  font-family: nanum !important
  height: 100%
  max-width: 1920px
  margin: 0 auto

html,body,div,p,iframe,frameset, h1,h2,h3,h4,h5,h6, strong,span,b,em,var,label,legend, ul,ol,li,dl,dt,dd,
table,thead,tbody,tfoot,tr,th,td,caption, form,fieldset,input,textarea, sub,sup,img,a,del,button,pre,
header,footer,section,article,aside,figure,figcaption
  padding: 0
  margin: 0

h1
  font-size: 170px !important
h4
  font-size: 35px !important
h5
  font-size: 30px !important

p
  font-size: 20px !important

/* 목록 스타일 리셋 */
ul, ol, li
  list-style: none

/* 태그 리셋 */
button
  background: transparent
  cursor: pointer

img
  vertical-align: bottom

img,button,fieldset,table
  border: 0

label,a
  display: inline-block

/* alink */
a
  border: 0
  color: #222
  text-decoration: none
  a:hover
    text-decoration: none
a.on
  height: auto
  text-indent: inherit
  background-image: none
